
/* Styles generaux. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Partie fixed image Parallax. */
.main-container {
    width: 100%;
    height: 100vh;
    background-image: url('../images/header-bg.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
}

/* Navbar. */
.navbar {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    padding: .5rem;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 2;
    transition: background-color 0.7s ease;
}


.navbar > .navbar__items > a {
    margin: 0 3.5rem;
    cursor: pointer;
    color: black;
    text-decoration: none;
    padding: 1rem;
}

.navbar > .navbar__items > a:hover {
    text-decoration: line-through;
}

.navbar > .navbar__logo {
    justify-items: start;
    margin-left: 20px;
    margin-right: 20px;
}

.navbar > .navbar__logo > img {
    width: 50px;
    height: 50px;
}

/* Partie visible a l'ecran avec la fleche et "Mon Super Projet". */
.hero {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1;
    padding: 20px;
    color: white;
}

.hero__text {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #ffffff;
    transform: translate(-50%, -50%);
}

.region {
    color:#96AAFF
}

/*FLECHE APPEL A SCROLLER-------------*/
.scroll-down {
    position: absolute;
    bottom: 20px; /* Positionnement de la flèche en bas de la section */
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 60px;
    color: #ffffff;
}

.scroll-down a {
    color: #96AAFF;
    font-size: 2rem; /* Taille de la flèche */
    display: inline-block;
    animation: bounce 1s infinite; /* Animation de va-et-vient */
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(10px); /* Flèche descend légèrement */
    }
    60% {
        transform: translateY(5px); /* Flèche remonte légèrement */
    }
}
/*FLECHE APPEL A SCROLLER-------------*/

/* Partie Explication du projet. */
.section-explication {
    background-color: rgba(241, 241, 241, 0.100); /* Transparence avec un fond léger */
    backdrop-filter: blur(5px); /* Flou sur l'arrière-plan */
    -webkit-backdrop-filter: blur(10px); /* Support pour les navigateurs Webkit (comme Safari) */
    width: 100%;
    height: auto;
    padding: 20px; /* Pour ajouter un peu d'espacement autour du texte */
    border-radius: 25px; /* Optionnel : pour arrondir les bords */
    box-shadow: 5px -5px 5px rgba(0, 0, 0, 0.151);
}

.section-explication > h1 {
    color: #FFFFFF;
}

.section-explication > p {
    color: #ffffff;
}

/* Partie Etapes du projet. */
.section-etapes {
    background-color: rgba(255, 255, 255, 0.100);
    color:#ffffff;
    width: 100%;
    height: auto;
    backdrop-filter: blur(5px); /* Flou sur l'arrière-plan */
    padding: 20px; /* Pour ajouter un peu d'espacement autour du texte */
    border-radius: 25px; /* Optionnel : pour arrondir les bords */
    -webkit-backdrop-filter: blur(10px); /* Support pour les navigateurs Webkit (comme Safari) */
    box-shadow: 5px -5px 5px rgba(0, 0, 0, 0.151);
}

.circle-link {
    width: 160px;               /* Largeur du cercle */
    height: 160px;              /* Hauteur du cercle */
    border-radius: 50%;         /* Crée un cercle */
    background-color: #96AAFF;  /* Couleur de fond */
    display: flex;              /* Permet d'aligner le contenu */
    justify-content: center;    /* Centrer horizontalement */
    align-items: center;        /* Centrer verticalement */
    text-align: center;         /* Centrer le texte */
    color: #fff;                /* Couleur du texte */
    transition: background-color 0.3s; /* Animation sur hover */
}

.circle-link:hover {
    background-color: #D7A568;   /* Changement de couleur au survol */
}
/* Partie Portfolio. */
.section-portfolio {
    background-color: white;
    color:#ffffff;
    width: 100%;
    height: auto;
    box-shadow: 5px -5px 5px rgba(0, 0, 0, 0.151);
    border-radius: 25px;
}

.card-body{
    background-color: #96AAFF;
}

.card-text{
    color: #ffffff;
    background-color: #96AAFF;
}

.card-text:hover{
    color: #000000;
}

/* CSS pour que le curseur devienne une main sur les images cliquables */
.card-img-top {
    cursor: pointer;
}

/* Empêcher la désactivation de la barre de défilement */
body.modal-open {
    overflow: visible; /* Forcer l'affichage de la barre de défilement même avec une modale ouverte */
}

/* Partie des espaces vides entre les sections. */
.section-vide {
    width: 100%;
    height: 100vh;
}

/* La surcouche verte sur les titres. */
.title {
    position: relative;
    z-index: 1;
    padding: 10px 20px;
}

/*PARTIE MODAL */
.modal-content {
    background-color: #282c34; /* Fond sombre */
    color: #000000; /* Texte blanc */
    border-radius: 15px;
    border: none;
}

.modal-header {
    background-color: #96AAFF; /* Fond bleu clair */
    color: #282c34; /* Couleur du texte */
}

.modal-footer {
    background-color: #20232a;
    color: #61dafb;
}

.btn-custom {
    background-color: #96AAFF;
    border: none;
    color: #fff;
    border-radius: 20px;
}

.btn-custom:hover {
    background-color: #96AAFF;
}

.modal-dialog {
    max-width: 800px;
    transition: transform 0.3s ease-out;
}


/*PARTIE MODAL */

.title::before {
    content: "";
    display: block;
    height: 90%;
    width: 55%;
    position: absolute;
    top: 0;
    left: 25%;
    background: #000000; /* soulignement des titre */
    transform: rotate(1deg); 
    border-radius: 15% 30% 15% 30%;
    z-index: -1;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/*FOOTER-------------------*/
.footer {
    background-color:#96AAFF;
    color: #FFFFFF;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
}

.footer__content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__copyright {
    margin: 10px 0;
    font-size: 14px;
    color: #000000;
}

.footer__links {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    gap: 20px;
}

.footer__links li {
    display: inline;
}

.footer__links a {
    color: #ffffff; /* Couleur des liens */
    text-decoration: none;
    font-weight: bold;
    padding: 1rem;
}

.footer__links a:hover {
    text-decoration: underline;
}

.scroll-to-top {
    background-color:rgba(255, 255, 255, 0.1); /* Couleur du bouton */
    color: #E68200;
    border: none;
    padding: 0;
    border-radius: 50%; /* Rendre le bouton circulaire */
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none; /* Cacher le bouton par défaut */
    font-size: 24px; /* Taille de la flèche */
    width: 50px; /* Largeur du bouton */
    height: 50px; /* Hauteur du bouton */
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    transition: background-color 0.3s ease;
}

.scroll-to-top:hover {
    background-color: #D7A568; /* Couleur au survol */
    color: rgb(255, 255, 255); /* Changer la couleur de la flèche au survol */
}


/*FOOTER-------------------*/

/* Style pour l'icône WhatsApp */
.whatsapp-icon {
    position: fixed;
    bottom: 30px;
    left: 30px;
    background-color: #25D366;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 100;
}

.whatsapp-icon:hover {
    background-color: #20b158;
}

/* Style pour la fenêtre modale */
.whatsapp-modal {
    display: none; /* Caché par défaut */
    position: fixed;
    bottom: 100px;
    left: 30px;
    width: 300px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    z-index: 10;
}

.whatsapp-chatbox h4 {
    margin: 0;
    font-size: 16px;
    color: #25D366;
}

.whatsapp-chatbox p {
    font-size: 14px;
    margin: 10px 0;
    color: #D7A568;
}

.whatsapp-button {
    display: block;
    padding: 10px;
    background-color: #25D366;
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
}

.whatsapp-button:hover {
    background-color: #20b158;
}

@media screen and (width <= 600px) {
    .hero__text > h1 {
        font-size: 3rem;
    }

    .title::before {
        content: "";
        display: block;
        height: 90%;
        width: 75%;
        position: absolute;
        top: 0;
        left: 12%;
        background: #000000; /* soulignement des titre */
        transform: rotate(1deg); 
        border-radius: 15% 30% 15% 30%;
        z-index: -1;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    #etapes > .wrapper {
        display: flex;
        flex-direction: column;
    }

    .wrapper__step > a {
        display: flex;
        flex-direction: column !important;
    }
  }
